.jumbotron {
    align-content: center; 
    text-align: center;
    color: yellow;
    margin-bottom: 0;
    font-size: 50px;
    background-color: rgb(2, 23, 46);
}

#two {
    background-color:rgb(1, 139, 139);
}

#lol {
    justify-content: center;
}

#cre {
    color: yellow;
}

#crd {
    border: 1px;
    border-style: outset;
    width: 800px;
    margin-bottom: 10px;
    font-style: italic;
}
#small {
    font-variant: small-caps;
    font-size: 13px;
    align-content: space-around;
}

#ppp {
    padding:0.1;
    font-size: 18px;
    color: brown;
}
#hut {
    padding: 0;
    margin: 0;
}

#one {
    align-content: center;
  text-align: center;
  background-color:rgb(1, 4, 24);
  color: yellow;
  font-size: 16px;
}

.btn {
    padding: 4px;
    margin: 4px;
    border: none;
    color: white;
    width: 150px;
    font-variant: small-caps;
    font-size: 13px;
}
.main {
    background-color:grey;

}
