<div class="container" id="thee">
<div class="jumbotron">
  <p>Quotes</p>
  <h6>Sharing memorable quotes</h6>
</div>
<div class="container">
  <div class="row">
    <div class="col-4" id="one">
      <div class="row" id="lol">
          <h3>Publish Quotes</h3>
      </div>
      <hr> 

      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      <!--collects user input and triggers an addition of content form addNewQuote-->
    </div>
    <div class="col-8" id="two">
      <div class="row" id="lol">
        <h3>Memorable Quotes</h3>
    </div>

      <div class="row"> 
          <div class="card" id="crd" *ngFor='let quote of quotes;let i = index'> 
              <!--allows one by one display of the quotes-->
               <div class="card-title">
                <h5 font color="yellow" *ngIf="showDetails">{{quote.name}}</h5>
              </div> 
              <!--structural directive set to boolean property show details-->
              <button type="button" (click)="toggleQuote(i)"  class="btn btn-primary">{{showDetails? "Hide": "Show"}} Quote Details</button> 
              <!--the click triggers event binding calling the toggle fxn method-->
              <!--if true it shows the details-->
               <div class="card-body" id="ppp">
                <p id="{{i}}" appHighlight>{{quote.details}}</p>
              </div>
              <div class="card-footer" id="hut" *ngIf='showDetails'> 
                <!--shows/hides votes submitted by details-->
                <div class="row">
                  <div class="col-4">
                    <p><app-vote></app-vote></p> 
                    <!--to show votes from vote app component-->
                   </div>
                  <div class="col-6" id="small">
                    <p>Submitted by {{quote.submitter}}, {{quote.completeDate|dateCount}} days ago</p> 
                    <!--calls and displays date count pipe results-->
                  </div>
                  <div class="col-2"> 
                    <!-- triggers an emit event to delete quote -->
                     <!-- <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>  -->
                 </div>
                </div> 
    
             </div>
            </div> 
    
           
          

         
      </div>
    </div>
  </div>
</div>
    