<div>
    <h1>Quotes</h1>
      <div>
      <div *ngFor='let quote of quotes;let i = index'>
        <li appStrikethrough><strong>{{quote.name}}</strong> submitted on {{quote.completeDate|date}} </li>
        <button (click)='toggleDetails(i)'>Details..</button>
      
        <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
      </div>
      <div>
        <app-quote-form></app-quote-form>
      </div>
    <p *ngIf='quotes.length > 4'>This is the End of Quotes</p>
</div>